* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(40, 40, 40);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: rgb(61, 13, 109);
}

header h1 a {
    text-decoration: none;
    font-size: 72px;
    color: white;
}

header nav {
    width: 100%;
    text-align: center;
    background-color: rgb(91, 19, 163);
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
    display: inline;
}

header nav ul li a {
    padding: 15px;
    font-size: 45px;
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    background-color: rgb(132, 78, 187);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    cursor: pointer;
}

section {
    border-top: 3px dotted rgba(255, 255, 255, 0.35);
    margin-bottom: 50px;
}

section:last-of-type {
    border-bottom: 3px dotted rgba(255, 255, 255, 0.35);
    margin-bottom: 0;
    padding-bottom: 50px;
}

footer {
    background-color: rgb(91, 19, 163);
}

footer ul {
    list-style: none;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(61, 13, 109);
}

footer ul li {
    margin: 0 10px;
    display: inline;
}

footer ul li a {
    margin: 50px;
    font-size: 30px;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

#bio img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: 10px solid black;
}

.bio-flexbox {
    display: flex;
    padding: 0 100px;
    align-items: center;
}

.bio-p-div {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
}

.bio-p-div p {
    flex: 0 1 1;
    font-size: 30px;
    padding: 12px;
}

#projects p {
    text-align: center;
    font-size: 25px;
}

#projects img {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border: 5px solid black;
}

.section-h2 {
    text-align: center;
    padding: 50px;
    font-size: 50px;
}

@media screen and (max-width: 992px) {
    #bio img {
        width: 70%;
        height: 70%;
        margin-bottom: 20px;
    }

    .bio-flexbox {
        flex-direction: column-reverse;
    }

    .bio-p-div {
        width: 100%;
        margin-right: 0;
    }

    .section-h2 {
        padding: 25px;
    }
}

@media screen and (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 20px;
    }

    header nav ul li a {
        padding: 10px;
        font-size: 38px;
    }

    footer ul li a {
        margin: 2px 0;
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .bio-p-div p {
        font-size: 20px;
    }
}