@font-face {
    font-family: "Fira Code";
    src: url("../fonts/Fira\ Code\ Bold\ Nerd\ Font\ Complete\ Mono.ttf");
}

:root {
    --primary-background: linear-gradient(315deg, rgba(2,0,36,1) 0%,
                            rgba(36,7,61,1) 50%, rgba(104,0,255,1) 100%);
}

/* Begin Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Code";
}

p {
    padding: 5px;
    border: 2px black solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: fit-content;
    color: white;
    text-align: center;
    background: var(--primary-background);
    border-radius: 25px;
}

li, a {
    color: white;
}
/* END GLOBAL STYLES */

/* Start Header Styles */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background: rgb(2,0,36);
    background: var(--primary-background);
    margin-bottom: 20px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: lightgray;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

header a {
    color: lightgray;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header nav ul li a:hover {
    text-decoration: underline;
}
/* END HEADER STYLES */

/* Begin Bio Styles */
.bio-container {
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bio-container img {
    margin: 0 0 0 100px;
    width: 30%;
    border: black 5px solid;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.bio-container p {
    padding: 25px;
    text-align: left;
    font-size: 24px;
    width: 40%;
}

/* Begin Title Styles */
.section-title {
    border-top: 5px black dotted;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
}

.contact-title img {
    max-width: 8%;
}

.projects-title img {
    max-width: 5%;
}

.projects-title h2 {
    border-bottom: 1px solid black;
}

.contact-title h2 {
    border-bottom: 1px solid black;
}
/* END TITLE STYLES */

/* Begin Card Styles */
.cards {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cards .card img {
    width: 80%;
    border-radius: 10px;
}

.cards .card img:hover {
    -webkit-filter: opacity(75%);
    cursor: pointer;
}

.card {
    margin: 20px;
    flex: 1;
    text-align: center;
}

.card-info p {
    line-height: 1.3;
    border-radius: 10px;
}

.primary-card {
    flex: 5 100%;
}

.secondary-card {
    flex: 2;
}

.primary-card .card-info p {
    width: 100%;
    padding: 10px;
    font-size: 40px;
}

.secondary-card .card-info p {
    width: 100%;
    padding: 0.6vw;
    font-size: 26px;
}

.primary-card .card-info {
    margin: 10px;
}

.secondary-card .card-info {
    margin: 10px;
}
/* END CARD STYLES */

/* Begin Contact Styles */
.contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-container p {
    margin: 10px;
    font-size: 25px;
    text-align: center;
    flex: 0 30%;
}

@media screen and (max-width: 980px) {
    .bio-container {
        flex-wrap: wrap-reverse;
    }

    .bio-container p {
        width: 65%;
    }

    .bio-container img {
        margin: 20px 10px;
    }

    .primary-card .card-info p {
        width: 100%;
        font-size: 35px;
    }

    .secondary-card .card-info p {
        width: 100%;
        font-size: 22px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container p {
        margin: 10px auto;
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    header {
        align-items: center;
        flex-direction: column;
    }
    
    header nav ul {
        flex-direction: column;
    }
    
    header nav ul li a {
        font-size: 25px;
    }

    .bio-container p {
        width: 80%;
    }

    .cards {
        flex-direction: column;
    }

    .secondary-card img {
        flex: 50%;
    }

    .primary-card .card-info p {
        width: 100%;
    }

    .secondary-card .card-info p {
        width: 100%;
    }
}